<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <config>
        <add key="defaultPushSource" value="github" />
    </config>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/deco3801-mortein/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="deco3801-mortein" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github>
    </packageSourceCredentials>
</configuration>